<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mm.events" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fb_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <!--
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_facebook_login" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >

        </activity>
        -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_api_id" />

        <activity
            android:name=".FBListEventListActivity"
            android:label="@string/title_fblistevent_list" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".FBListEventDetailActivity"
            android:label="@string/title_fblistevent_detail"
            android:parentActivityName=".FBListEventListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mm.events.FBListEventListActivity" />
        </activity>
        <activity
            android:name=".NotifyActivityHandler"
            android:label="@string/title_activity_notify_activity_handler" >
        </activity>
    </application>

</manifest>
